body {
  padding:0 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li{
  list-style:none;
}
footer{
  margin: 10px auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer div{
  text-align: center;
}
