body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
footer{
  margin: 10px auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer div{
  text-align: center;
}
