body {
  padding:0 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li{
  list-style:none;
}

blockquote {
  border-left: 10px solid pink;
  padding: 1rem;
}
pre{
  background: #000;
  color: aliceblue;
}
footer{
  margin: 10px auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer div{
  text-align: center;
}
